
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
}
.leftsection{
 width: 20%;
 height: 100%;
 position: fixed;
 background-color: #FFFFFF;
}
.hello{
    padding: 20px;
}
.hello img{
    padding: 20px;
}
.main{
    height: 800px;
    line-height: 40px;
    box-shadow: 10px 10px 5px rgba(173, 216, 230, 0.315);
}
.main ul{
    list-style-type: none;
}
.icon2 li a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-right: 1rem;
    color: #303030CC;
    text-decoration: none;
}
.icon2 li.active{
    background-color: #201639;
    color: #ddd;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 83%;
}
.icon2 ul li :hover{
    background-color: #201639;
    width: 83%;
    color: #ddd;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.rightsection{
    margin-left: 270px;
    width: 80%;
    height: 800px;
    padding: 20px;
    background-color: rgba(173, 216, 230, 0.315);
}
.heading{
    display: flex;
    justify-content: space-between;
}

.admin{
    display: flex;
    gap: 30px;
}
.admin img{
    height: 30px;
}
.adminlogo{
   display: flex;
   gap: 10px;
}
.adminlogo p{
    margin-top: 5px;
}
.adminlogo img{
    border-radius: 50px;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 220px;
    height: 50px;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    height: 50px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.back{
    display: flex;
    gap: 50px;
    padding: 20px;
    margin: 20px 0px;
}

.back input{
    width: 75px;
    height: 32px;
    margin: 0px 20px;
}
.back h2{
    font-family: 'Times New Roman', Times, serif;
}
.section{
  width: 100%;
  height: 550px;
  border: 1px solid #DED9D9;
}
.mainfrom{
    display: flex;
}
.form{
 width: 75%;
 padding: 20px;

 
}
.row{
    background-color: #163963;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
.from-fill{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    color: #4F4F4F;
}
.from-fill input{
    width: 343px;
    height: 46px;
}

.proflie{
    width: 25%;
    height: 100%;
}
.admin1 img{
    margin-top: 100px;
    margin-left: 50px;
}
.btn input{
    width: 110px;
    height: 46px;
    background-color: #F23737;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 40px;
}
.section2{
    width: 100%;
    height: 308px;
    border: 1px solid #DED9D9;
    margin-top: 30px;
  }
.table{
    padding: 20px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 0px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .section3{
    margin-top: 30px;
    border: 1px solid #DED9D9;
    height: 198px;
}
.last {
    margin-top: 20px;
    margin-left: 20px;
}
.btn2{
    margin-top: 10px;
}
.btn2 input{
    width: 200px;
    height: 40px;
    margin: 0px 20px;
    background-color: #21C551;
    color: #fff;
    border: none;
}
.last2{
    text-align: center;
    margin-top: 20px;
   
}
.last2 input{
    width: 200px;
    height: 40px;
    margin: 0px 20px;
    background-color: #F23737;
    color: #fff;
    border: none;
    border-radius: 5px;
}
