
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
}
.leftsection{
 width: 20%;
 height: 100%;
 position: fixed;
 background-color: #FFFFFF;
}
.hello{
    padding: 20px;
}
.hello img{
    padding: 20px;
}
.main{
    height: 800px;
    line-height: 40px;
    box-shadow: 10px 10px 5px rgba(173, 216, 230, 0.315);
}
.main ul{
    list-style-type: none;
}
.icon2 li a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-right: 1rem;
    color: #303030CC;
    text-decoration: none;
}
.icon2 li.active{
    background-color: #201639;
    color: #ddd;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.icon2 ul li :hover{
    background-color: #201639;
    width: 83%;
    color: #ddd;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.rightsection{
    margin-left: 270px;
    width: 80%;
    height: 100%;
    padding: 20px;
    background-color: rgba(173, 216, 230, 0.315);
}
.heading{
    display: flex;
    justify-content: space-between;
}

.admin{
    display: flex;
    gap: 30px;
}
.admin img{
    height: 30px;
}
.adminlogo{
   display: flex;
   gap: 10px;
}
.adminlogo p{
    margin-top: 5px;
}
.adminlogo img{
    border-radius: 50px;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    height: 50px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.section{
  width: 100%;
  height: 100%;
  border: 1px solid #DED9D9;
}
.mainfrom{
    display: flex;
}
.form{
 width: 75%;
 padding: 20px;

 
}
.row{
    background-color: #163963;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
.from-fill{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
.from-fill input{
    width: 343px;
    height: 46px;
    
}
/* .msg input{
   height: 131px;
   width: 343px;
} */
.proflie{
    width: 25%;
    height: 100%;
}
.admin1 img{
    margin-top: 100px;
    margin-left: 50px;
}
.admin1 p{
    margin-left: 80px;
    text-decoration: underline;
}
.section2{
    margin-top: 30px;
    border: 1px solid #DED9D9;
}
.form2{
    display: flex;
    gap: 50%;
    padding: 20px;
}
.form2 p{
    line-height: 30px;
    color: #7B7B7B;
}
.section3{
    margin-top: 30px;
    border: 1px solid #DED9D9;
    padding: 20px;
}
.form3 {
    display: flex;
    gap: 20%;
    padding: 20px;
    color: #7B7B7B;
    line-height: 40px;
}
.approved input{
    width: 282px;
    height: 46px;
    float: left;
    background-color: #21C551;
    color: #DED9D9;
    border: none;
}
.cmnt input{
    width:  282px;
    height: 46px;
}
.update{
    text-align: center;
}
.update input{
    width: 110px;
    height: 46px;
    background-color: #F23737;
    border: none;
    border-radius: 5px;
    
}
.section4{
    margin-top: 30px;
    border: 1px solid #DED9D9;
}
.from4{
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    padding: 20px;
}
.btn input{
  width: 146px;
  height: 44px;
  border-radius: 15px;
  border:  1px solid #F23737;
}